{% extends "layout.html" %}
{% block body %}
<style>
    *{font-family: Verdana, Geneva, Tahoma, sans-serif;}
    .listeref{position:absolute;top:80px;left:20px;font-size: x-large; font-weight: bold;}
    .creeref{position:absolute;top:10px;left:20px;font-size: x-large; font-weight: bold;}
    .liencree{position:absolute;top:60px;left:20px}
    .titre{position:absolute;top:20px;left:700px;font-size: x-large; font-weight: bold;}
    .listereffond{position:absolute;top:150px;left:400px;width: 1000px;height: 850px;background-color: rgb(146, 240, 247);border-radius:30px}
    .laliste{position:absolute;top:110px;left:20px}
    .PP{position:absolute;top:10px;right:180px}
    .nomutilisateur{position:absolute;top:20px;right:20px}
    .deconnect{position: absolute; top:40px; right:20px}
</style>
<title>Accueil Elu</title>
<h1 class=titre>
    Bienvenue sur LENA
</h1>
<a href="/deconnect" class=deconnect>Se déconnecter</a>
<a class=nomutilisateur>{{nom}} {{prénom}}</a>
<div class=listereffond>
    <h1 class=creeref>Création d'un référendum</h1> 
    <a href="/creationreferendum" class=liencree>Créer un référendum</a>
    <h1 class=listeref>Liste des référendums</h1>
    <ul class=laliste>
        {% for L in liste %}
        
        <li><a href="/referendum/{{ L[0] }}">{{ L[1] }}</a></li>

        {% endfor %}
    </ul>
</div>

{% endblock %}