{% extends "prelayout.html" %}
{% block body %}



<html>

    <style>
        *{font-family: Verdana, Geneva, Tahoma, sans-serif;}
        .titre{position:absolute;top:20px;left:700px;font-size: x-large; font-weight: bold;}
        .p1{position:absolute;top:100px;left:500px;width:700px;font-size: large; font-weight:lighter;}
        .retour{position:absolute;top:800px;left:800px;font-size: large; font-weight:lighter;}
        
    </style>
    <title>A propos</title>
    <h1 class=titre>
        A propos de notre site
    </h1>
    <a class=p1>Notre application web a pour but de permettre aux élus locaux de questionner les citoyens de manière directe en
        leurs soumettant des référendums sur une période choisie et en collecter les réponses. Le site web permet également
         de récolter des informations (exemple : âge, catégorie socio-professionnelle) sur les votants grâce à un système de
          login dans le but de déterminer le profil des votants et celui des non-votants. Cela permet aux élus d’identifier
          les populations qui ne participent pas pour les sensibiliser à la prise de décision.</a>
    
    <br><a href="javascript:history.go(-1)" class=retour>Retour</a>
</html>

{% endblock %}
