<html>
    <title>
        LENA, le citoyen
    </title>
    <h1><center>Bienvenue, nom à insérer</center></h1>
    <a href="login">Se déconnecter</a>
    <br><br><br><br><br><br><br><br><br><br><br>
    <center><img src="{{url_for('static',filename='eluexemple.jpg')}}" width="100" height="100"><br>
    <a>A.Gulgowski</a></center>
    <h3><center>Voici l'emplacement du réferendum</center></h3>

    <form action='/reponse' method="post">
        <center>
        <input type="submit" value="Oui">
        <input type="submit" value="Non">
        </center>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a><center>Ici se trouvera la présentation</center></a>
</html>