{% extends "layout.html" %}
{% block body %}


<html>
    <style>
        *{font-family: Verdana, Geneva, Tahoma, sans-serif;}
        .text{text-align:center}
    </style>
    <div class=text>
    <title>Nous contacter</title>
    <a> <h1>Contactez les développeurs:</h1>
        <br> Anna Galkowski : anna.galkowski@telecomnancy.eu
        <br> Noé-Laurent Laurent : noe-laurent.laurent@telecomnancy.eu
        <br> Edgar Peronnin : edgar.peronnin@telecomnancy.eu 
        <br> Léa Poiron : lea.poiron@telecomnancy.eu</a>
    <br><a href="javascript:history.go(-1)">Retour</a>
    </body>
    </div>
</html>

{% endblock %}
