{% extends "layout.html" %}
{% block body %}

<html>

    <style>
        .creationref{position:absolute;top:20px;left:20px;font-size: x-large; font-weight: bold;}
        .creationreffond{position:absolute;top:150px;left:400px;width: 1000px;height: 850px;background-color: rgb(185, 212, 238);}
        .elements{position:absolute;top:60px;left:20px}
        .PP{position:absolute;top:10px;right:180px}
        .nomutilisateur{position:absolute;top:20px;right:20px}
        .deconnect{position: absolute; top:40px; right:20px}
    </style>


    <a href="login" class=deconnect>Se déconnecter</a>
    <img src="{{url_for('static',filename='eluexemple.jpg')}}" width="60" height="60" class=PP>
    <a class=nomutilisateur>{{nom}} {{prénom}}</a>

    <div class=creationreffond>
        <h1 class=creationref>Création d'un nouveau référendum :</h1>
        <ul class=elements>
            <form action="/refcree" method="post">
            <br><br><a>Titre du référendum : </a><input name="titre" type="text">
            <br><br><a>Question : </a><input name="enonce" type="text">
            <br><br><a>Catégorie 1: </a><select name="cat1_ref">
                <option value="null">/</option>
                <option value="ecologie">Écologie</option>
                <option value="education">Éducation</option>
                <option value="transport">Transport</option>
                <option value="commerce">Commerce</option>
                <option value="tourisme">Tourisme</option>
            </select>
            <br><br><a>Catégorie 2: </a><select name="cat2_ref">
                <option value="null">/</option>
                <option value="ecologie">Écologie</option>
                <option value="education">Éducation</option>
                <option value="transport">Transport</option>
                <option value="commerce">Commerce</option>
                <option value="tourisme">Tourisme</option>
            </select>
            <br><br><a>Ville : </a><input autocomplete="off" name="ville" type="text">
            <br><br><select name="dep">
                <option disabled selected value="">Département</option>
                {% for dep in departements %}
                    <option value="{{ dep }}">{{ dep }}</option>
                {% endfor %}
            </select>
            <br><br><select name="region">
                <option disabled selected value="">Région</option>
                {% for reg in regions %}
                    <option value="{{ reg }}">{{ reg }}</option>
                {% endfor %}
            </select>
            <br><br><a>Résumé : </a><input autocomplete="off" name="resume" type="text">
            <br><br><a>Date de début : </a><input autocomplete="off" name="debut" type="date" placeholder="Date de début mm/jj/aaaa">
            <br><br><a>Date de fin : </a><input autocomplete="off" name="fin" type="date" placeholder="Date de fin mm/jj/aaaa">
            <br><br><br><input  type="submit" value="Soumettre le référendum">
            </form>

        </ul>
</html>




{% endblock %}