<html>
    <title>Inscription Citoyen</title>
    <h1>Inscription:</h1>
    <form action="/accueil_c" method="get">
        <input name="email" type="text">
        <input name="mdp" type="text">
        <input name="nom" type="text">
        <input name="prenom" type="text">
        <input name="annee_naissance" type="integer">
        <input name="sexe" type="text">
        <select name="cat_soc_pro">
            <option>Option1</option>
        </select>
        <input name="ville" type="text">
        <input name="dep" type="text">
        <input name="region" type="text">
        <input name="nb_enfants" type="integer">
    </form>
</html>