{% extends "prelayout.html" %}
{% block body %}


<html>

    <style>
        *{font-family: Verdana, Geneva, Tahoma, sans-serif;}
        .titre{position:absolute;top:20px;left:700px;font-size: x-large; font-weight: bold;}
        .form{position:absolute;top:60px;left:100px;font-size: large; font-weight:bold;}
        .fond{position:absolute;top:150px;left:500px;width: 750px;height: 300px;background-color: rgb(146, 240, 247);}
        
    </style>

    <title>Inscription Elu</title>
    <h1 class=titre>Inscription:</h1>
    <div class=fond>
    <form action="/registere" method="post" class=form>
        <input autocomplete="off" name="email" type="text" placeholder="E-mail">
        <br>
        <input autocomplete="off" name="mdp" type="password" placeholder="Mot de passe">
        <br>
        <input autocomplete="off" name="nom" type="text" placeholder="Nom">
        <br>
        <input  autocomplete="off"name="prenom" type="text" placeholder="Prénom">
        <br>
        <select name="parti">
            <option disabled selected value="">Parti</option>
            {% for part in partis %}
                <option value="{{ part }}">{{ part }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" name="role" type="text" placeholder="Rôle">
        <br>
        <input autocomplete="off" name="ville" type="text" placeholder="Ville">
        <select name="dep">
            <option disabled selected value="">Département</option>
            {% for dep in departements %}
                <option value="{{ dep }}">{{ dep }}</option>
            {% endfor %}
        </select>
        <select name="region">
            <option disabled selected value="">Région</option>
            {% for reg in regions %}
                <option value="{{ reg }}">{{ reg }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="S'enregistrer">
    </form></div>
</html>

{% endblock %}