<html>
    <title>Inscription Citoyen</title>
    <h1>Inscription:</h1>
    <form action="/accueil_c" method="get">
        <input name="email" type="text" placeholder="E-mail">
        <input name="mdp" type="text" placeholder="Mot de passe">
        <br>
        <input name="nom" type="text" placeholder="Nom">
        <input name="prenom" type="text" placeholder="Prénom">
        <input name="annee_naissance" type="integer" placeholder="Anné de Naissance jj/mm/aaaa">
        <select name="sexe">
            <option>M.</option>
            <option>Mme.</option>
            <option>Autre</option>
        </select>
        <br>
        <select name="cat_soc_pro">
            <option disabled>Catégorie Socioprofessionelle</option>
            <option>Option1</option>
        </select>
        <br>
        <input name="ville" type="text" placeholder="Ville">
        <input name="dep" type="text" placeholder="Département">
        <input name="region" type="text" placeholder="Région">
        <br>
        <input name="nb_enfants" type="integer" placeholder="Nombre d'enfants">
        <br>
        <input type="submit" value="S'enregistrer">
    </form>
</html>