<html>
    <title>Inscription Elu</title>
    <h1>Inscription:</h1>
    <form action="/registere" method="post">
        <input autocomplete="off" name="email" type="text" placeholder="E-mail">
        <br>
        <input autocomplete="off" name="mdp" type="text" placeholder="Mot de passe">
        <br>
        <input autocomplete="off" name="nom" type="text" placeholder="Nom">
        <br>
        <input  autocomplete="off"name="prenom" type="text" placeholder="Prénom">
        <br>
        
        <input autocomplete="off" name="parti" type="text" placeholder="Parti">
        <input autocomplete="off" name="role" type="text" placeholder="Rôle">
        <br>
        <input autocomplete="off" name="ville" type="text" placeholder="Ville">
        <select name="dep">
            <option disabled selected value="">Département</option>
            {% for dep in departements %}
                <option value="{{ dep }}">{{ dep }}</option>
            {% endfor %}
        </select>
        <select name="region">
            <option disabled selected value="">Région</option>
            {% for reg in regions %}
                <option value="{{ reg }}">{{ reg }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="S'enregistrer">
    </form>
</html>