{% extends "prelayout.html" %}
{% block body %}


<!DOCTYPE html>
<html>

    <style>
        .titre{position:absolute;top:20px;left:700px;font-size: x-large; font-weight: bold;}
        .form{position:absolute;top:125px;left:525px;font-size: large; font-weight:bold;}
        
    </style>

    <title>Login Citoyen</title>
    <h1 class=titre> Connexion </h1>
    <form action="/logincitdeux" method="post" class=form>
        <input autocomplete="off" name="email" type="text" placeholder="E-mail">
        <input autocomplete="off" name="mdp" type="password" placeholder="Mot de passe">
        <input type="submit" value="Se connecter">
    </form>
</html>

{% endblock %}