{% extends "layout.html" %}
{% block body %}
    <title>LENA</title>
    <STYLE>
        *{font-family: Verdana, Geneva, Tahoma, sans-serif;}
        .titre{position: absolute; top:20px;left:810px;}
        .deconnect{position: absolute; top:40px; right:20px}
        .icone{position: absolute; top: 300px; left: 500px;}
        .nomelu{position: absolute; top:460px;left: 800px;}
        .referendum{position: absolute; top:280px; left: 600px;font-size: x-large; font-weight: bold;}
        .oui{position: absolute; top:500px; left:850px}
        .non{position: absolute; top:500px; left:930px}
        .presentation{position: absolute; top:350px; left:800px;}
        .PP{position:absolute;top:10px;right:180px}
        .nomutilisateur{position:absolute;top:20px;right:20px}
        .periode{position:absolute;top:4400px;left:800px}
        .fond{position:absolute;top:150px;left:400px;width: 1000px;height: 850px;background-color: rgb(229,217,242);}
        </STYLE>

    

    <a href="/deconnect" class=deconnect>Se déconnecter</a>
    <a class=nomutilisateur>{{ prénom }} {{ nom }} </a>

    <h1><center>{{ titre }}</center></h1>
    <div class=fond>
        <center>
        <h1>{{ enonce }}</h1><br>
        <h2>Créateur : {{ elu[0] }} {{ elu[1] }}</h2><br>
        <h3>{{ presentation}}</h3><br>
     
        <a href="/voteoui/{{ ref_id }}"><input type="button" value="Oui"></a>
        <a href="/votenon/{{ ref_id }}"><input type="button" value="Non"></a><br><br>
        <a>Du {{ debut }} à {{ fin }}</a>
        </center>
    </div>
{% endblock %}