{% extends "layout.html" %}
{% block body %}
    <title>LENA</title>
    <STYLE>
        .titre{position: absolute; top:20px;left:810px;}
        .deconnect{position: absolute; top:40px; right:20px}
        .icone{position: absolute; top: 300px; left: 500px;}
        .nomelu{position: absolute; top:460px;left: 800px;}
        .referendum{position: absolute; top:280px; left: 600px;font-size: x-large; font-weight: bold;}
        .oui{position: absolute; top:500px; left:850px}
        .non{position: absolute; top:500px; left:930px}
        .presentation{position: absolute; top:350px; left:800px;}
        .PP{position:absolute;top:10px;right:180px}
        .nomutilisateur{position:absolute;top:20px;right:20px}
        .periode{position:absolute;top:4400px;left:800px}
        </STYLE>

    <h1 class=titre><a>{{ titre }}</a></h1>

    <a href="login" class=deconnect>Se déconnecter</a>
    <a class=nomutilisateur>{{ nom }} {{ prénom }}</a>

    <a class=nomelu><center>{{ elu[0] }} {{ elu[1] }}</center></a>
    <h3 class=referendum><center>{{ enonce }}</center></h3>

    <a class=periode>Du {{ debut }} à {{ fin }}</a>
    <a class=presentation><center>{{ presentation}}</center></a>
    
    <form action='/vote' method="post">
        <center>
        <a href="/voteoui"><input type="button" value="Oui" class=oui></a>
        <a href="/votenon"><input type="button" value="Non" class=non></a>
        </center>
    </form>
{% endblock %}