{% extends "layout.html" %}
{% block body %}

<STYLE>
    *{font-family: Verdana, Geneva, Tahoma, sans-serif;}
    .titre{position: absolute; top:20px;left:650px;}
    .deconnect{position: absolute; top:40px; right:20px}
    .icone{position: absolute; top: 300px; left: 500px;}
    .nomelu{position: absolute; top:300px;left: 500px;}
    .referendum{position: absolute; top:300px; left: 750px;font-size: x-large; font-weight: bold;}
    .presentation{position: absolute; top:700px; left:760px;}
    .PP{position:absolute;top:10px;right:180px}
    .nomutilisateur{position:absolute;top:20px;right:20px}
    .oui{position:absolute;top:400px;left:870px;}
    .non{position:absolute;top:430px;left:870px;}
    .dated{position:absolute;top:460px;left:850px;}
    .datef{position:absolute;top:490px;left:850px;}
    .fond{position:absolute;top:150px;left:400px;width: 1300px;height: 3500px;background-color: rgb(185, 212, 238);}
</STYLE>
<a href="/deconnect" class=deconnect>Se déconnecter</a>
<a class=nomutilisateur>{{ nomut }} {{ prénomut }}</a>
<div class=fond>
    <center>
    <h1> {{ e }}</h1><br>
    <h2>Créateur : {{ nom }} {{ pren }}</h2><br>
    <h3>{{ pres }}</h3><br>
    <p>Nombre de Oui : {{ o }}%</p><br>
    <p>Nombre de Non : {{ n }}%</p><br>
    <p>Date de début : {{ d }}  ---  Date de fin: {{ f }}</p><br>
    </center>
    <img src="{{url_for('static',filename='sociopro.png')}}">
    <img src="{{url_for('static',filename='catembert.png')}}"><br>
    <img src="{{url_for('static',filename='age.png')}}">
    <img src="{{url_for('static',filename='camem_age.png')}}"><br>
    <img src="{{url_for('static',filename='sexe.png')}}">
    <img src="{{url_for('static',filename='camembert_s.png')}}"><br>
    <img src="{{url_for('static',filename='parents.png')}}">
    <img src="{{url_for('static',filename='parembert.png')}}"><br>
    <center>
    <a href="javascript:history.go(-1)">Retour à la page précédente</a>
    </center>
</div>




{% endblock %}